@page
@model ProjectLibX.Pages.AddBooksModel
@{
}
<style>
    button {
        margin: 20px;
    }

    label {
        padding: 6px
    }

    input {
        margin: 6px;
    }
   
    
    form{
        width:65%;
      
    }
</style>
<form method="post">
    
        <input asp-for="@Model.Student.ID" hidden/>
    <div class="form-group" hidden>
        <label asp-for="@Model.Student.RegNo">RegisterNumber</label>
        <input asp-for="@Model.Student.RegNo" class="form-control" />

    </div>
    <div class="form-group" hidden>
        <label asp-for="@Model.Student.Name_of_the_Student">RegisterNumber</label>
        <input asp-for="@Model.Student.Name_of_the_Student" class="form-control" />

    </div>
    <div class="form-group" hidden>
        <label asp-for="@Model.Student.SEM">RegisterNumber</label>
        <input asp-for="@Model.Student.SEM" class="form-control" />

    </div>
    <div class="form-group" hidden>
        <label asp-for="@Model.Student.ContInfo">RegisterNumber</label>
        <input asp-for="@Model.Student.ContInfo" class="form-control" />

    </div>
    <div class="form-group" hidden>
        <label asp-for="@Model.Student.Email">RegisterNumber</label>
        <input asp-for="@Model.Student.Email" class="form-control" />

    </div>

    <div class="form-group">
        <label asp-for="@Model.Student.Book1">Book1</label>
        <input asp-for="@Model.Student.Book1" class="form-control"/>
       
    </div>
        <div class="form-group">
        <label asp-for="@Model.Student.Book2">Book2</label>
        <input asp-for="@Model.Student.Book2" class="form-control"  />
       </div>
    <div class="form-group">
        <label asp-for="@Model.Student.Book3">Book3</label>
        <input asp-for="@Model.Student.Book3" class="form-control" />
       </div>
    <div class="form-group">
        <label asp-for="@Model.Student.Book4">Book4</label>
        <input asp-for="@Model.Student.Book4" class="form-control"/>
       
    </div>
    <div class="form-group">
        <label asp-for="@Model.Student.Book5">Book5</label>
        <input asp-for="@Model.Student.Book5" class="form-control" />
       
    </div>
    <button class="btn btn-success" type="submit">Issue Book</button>
    <button class="btn btn-secondary" asp-page="Index">Back</button>
  
</form>
